<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .section-404 {
            padding: 50px 0;
            text-align: center;
        }
        .image-404 img {
            max-width: 100%; 
            height: auto;
            width: 300px; 
            margin: 0 auto; 
        
        }
        .contain-404 {
            margin-top: 20px;
        }
        .text-content {
            font-size: 24px;
            color: #333;
        }
        .btn {
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .btn:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <!-- 404 Section Start -->
    <section class="section-404">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="image-404">
                        <img src="/500.jpg" class="img-fluid blur-up lazyload" alt="500 Error">
                    </div>
                </div>

                <div class="col-12">
                    <div class="contain-404">
                        <h3 class="text-content"><%= errorMessage %></h3>
                        <button onclick="location.href = '/';"
                            class="btn">Back To Home Screen</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 404 Section End -->
</body>
</html>
