<%- include('../layouts/header.ejs') -%>
<!--Body Content-->
<div id="page-content">
  <!--Page Title-->
  <div class="page section-header text-center">
    <div class="page-title">
      <div class="wrapper">
        <h1 class="page-width">About Us</h1>
      </div>
    </div>
  </div>
  <!--End Page Title-->

  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
        <div class="text-center mb-4">
          <h2 class="h2">Belle Multipurpose Ecommerce Website</h2>
          <div class="rte-setting">
            <p><strong>Elevate Your Look with Our Website</strong></p>
            <p>A user-friendly interface is crucial for any e-commerce site. This includes intuitive navigation, easy-to-use search functionality, and a clean, visually appealing design.</p>
            <p>Provide reliable customer support through various channels, such as email, live chat, and social media. Offer assistance with returns, exchanges, and any other issues that customers might encounter.</p>
            <p>Implement robust security measures to protect customer data and transactions. This includes using HTTPS, secure payment gateways, and complying with data protection regulations.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-4 col-md-4 col-lg-4 mb-4"><img class="blur-up lazyload" data-src="/images/about1.jpg" src="/images/about1.jpg" alt="About Us" /></div>
      <div class="col-12 col-sm-4 col-md-4 col-lg-4 mb-4"><img class="blur-up lazyload" data-src="/images/about2.jpg" src="/images/about2.jpg" alt="About Us" /></div>
      <div class="col-12 col-sm-4 col-md-4 col-lg-4 mb-4"><img class="blur-up lazyload" data-src="/images/about3.jpg" src="/images/about3.jpg" alt="About Us" /></div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2>About Online Shopping</h2>
        <p>Overall, online shopping can be a convenient and affordable way to buy a wide variety of goods and services. Just be sure to shop from reputable retailers and take steps to protect yourself from fraud.</p>
        <p> Some popular online shopping websites in India include Flipkart, Amazon.in, Myntra, and Snapdeal. These websites offer a wide variety of products, from clothing and electronics to groceries and home goods.</p>
        <p></p>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-4">
        <h2 class="h2">About Payment</h2>
        <div class="rte-setting">
          <p><strong>Payment Gateway: They act as an intermediary platform facilitating secure online payments between businesses and customers. Customers can use various payment methods like credit cards, debit cards, UPI, and popular wallets.</strong></p>
          <p>Smooth Checkout: When you reach the checkout page on an online store and choose a payment method like credit card, debit card, UPI, or a wallet, Razorpay swings into action. It integrates seamlessly with the online store's platform.</p>
          <p>Secure Gateway: Razorpay encrypts your sensitive payment information like card details. This ensures your data stays safe throughout the transaction.</p>
          <p>Payment Processing: Razorpay acts as a bridge between the online store and your bank. It securely sends your payment information to your bank for authorization.</p>
          <p>Transaction Confirmation: Once your bank approves the payment, Razorpay sends confirmation back to both the online store and you. The store then processes your order and you receive confirmation of your purchase.</p>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <h2 class="h2">Contact Us</h2>
        <ul class="addressFooter">
          <li><i class="icon anm anm-map-marker-al"></i>
            <p>Belle Enque, Kozhikode </p>
          </li>
          <li class="phone"><i class="icon anm anm-phone-s"></i>
            <p>+91 7012668570</p>
          </li>
          <li class="email"><i class="icon anm anm-envelope-l"></i>
            <p>a59141699@gmail.com</p>
          </li>
        </ul>
        <hr />
        <ul class="list--inline site-footer__social-icons social-icons">
          <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Facebook"><i class="icon icon-facebook"></i></a></li>
          <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Twitter"><i class="icon icon-twitter"></i> <span class="icon__fallback-text">Twitter</span></a></li>
          <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Pinterest"><i class="icon icon-pinterest"></i> <span class="icon__fallback-text">Pinterest</span></a></li>
          <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Instagram"><i class="icon icon-instagram"></i> <span class="icon__fallback-text">Instagram</span></a></li>
          <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Tumblr"><i class="icon icon-tumblr-alt"></i> <span class="icon__fallback-text">Tumblr</span></a></li>
          <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on YouTube"><i class="icon icon-youtube"></i> <span class="icon__fallback-text">YouTube</span></a></li>
          <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Vimeo"><i class="icon icon-vimeo-alt"></i> <span class="icon__fallback-text">Vimeo</span></a></li>
        </ul>
      </div>
    </div>


  </div>

</div>
<!--End Body Content-->

<%- include('../layouts/footer.ejs') -%>