<%- include('../layouts/header.ejs') -%>

<!--Body Content-->
<div id="page-content">
  <!--Page Title-->
  <div class="page section-header text-center">
    <div class="page-title">
      <div class="wrapper">
        <h1 class="page-width">Reset Password</h1>
      </div>
    </div>
  </div>
  <!--End Page Title-->

  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 main-col offset-md-3">
        <div class="mb-4">
          <form method="post" action="" id="CustomerLoginForm" accept-charset="UTF-8" class="contact-form">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                  <label for="CustomerEmail">New Password</label>
                  <input type="password" value="" name="password" required placeholder="" id="CustomerPassword" class="">
                  <input type="hidden" value="<%= user %>" name="userId">
                  <p id="alertPassword" style="color: red;"></p>
                </div>
              </div>
              <div class="row">
                <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12">
                  <input type="submit" id="submitButton" class="btn mb-3" value="Reset Password">
                  <% if (locals.message) { %>
                  <div class="alert alert-danger text-center"><%= message %></div>
                  <% } %>

                </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
<!--End Body Content-->


<script>
    document.addEventListener('DOMContentLoaded', function() {
      let inputPassword = document.getElementById('CustomerPassword');
      let alertPassword = document.getElementById('alertPassword');
      let submitButton = document.getElementById('submitButton');
  
      inputPassword.addEventListener('input', function() {
        enableSubmitBtn(); 
      });
  
      function enableSubmitBtn() {
        let password = inputPassword.value.trim();
        let isValidPassword = true;
  
        if (password === "" || password.length < 6 ||
            !/[a-z]/.test(password) || !/[A-Z]/.test(password) ||
            !/[0-9]/.test(password) || !/[!@#$%^&*()_+{}\[\]:;<>,.?~\\/-]/.test(password)) {
          isValidPassword = false;
        }
  
        // Update the UI to show password validation message
        if (!isValidPassword) {
          alertPassword.innerText = 'Password must be at least 6 characters long and contain lowercase and uppercase letters, numbers, and special characters.';
        } else {
          alertPassword.innerText = '';
        }
  
        // Enable/disable the submit button 
        submitButton.disabled = !isValidPassword;
      }
    });
  </script>



<%- include('../layouts/footer.ejs') -%>