<%- include('../layouts/header.ejs') -%>

<style>
  .loader {
    border: 8px solid #f3f3f3;
    /* Light grey */
    border-top: 8px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    display: none;
    /* Initially hide loader */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  #showPassword {
    margin-top: 10px;
  }
</style>



<!--Body Content-->
<div id="page-content">
  <!--Page Title-->
  <div class="page section-header text-center">
    <div class="page-title">
      <div class="wrapper">
        <h1 class="page-width">Create an Account</h1>
      </div>
    </div>
  </div>
  <!--End Page Title-->

  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg- 6 main-col offset-md-3">
        <div class="mb-4">
          <form method="post" action="/register" id="CustomerLoginForm" accept-charset="UTF-8" class="contact-form">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                  <label for="FirstName">First Name</label>
                  <input type="text" name="fname" placeholder="" id="FirstName" required autofocus="">
                  <p id="nameAlert" style="color: red;"></p>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                  <label for="LastName">Last Name</label>
                  <input type="text" name="lname" placeholder="" id="LastName">
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                  <label for="CustomerEmail">Email</label>
                  <input type="email" name="email" placeholder="example@gmail.com" id="CustomerEmail" required class="" autocorrect="off" autocapitalize="off" autofocus="">
                  <p id="emailAlert" style="color: red;"></p>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                  <label for="CustomerPassword">Password</label>
                  <input type="password" value="" name="password" required placeholder="" id="CustomerPassword" class="">
                  <input type="checkbox" id="showPassword"> Show Password
                  <p id="alertPassword" style="color: red;"></p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12">
                <button class="btn mb-3" id="submitButton">Create</button>
                <p id="validationDisplay" style="color: red;"></p>
              </div>
              <div id="loader" class="loader"></div>

              <!-- user/register.ejs -->


              <div class="col-12 col-sm-12 col-md-12 col-lg-12" id="otpSection" hidden>
                <div class="form-group">
                  <p>OTP has sent to the registered email</p>
                  <label for="otpInput">Enter OTP</label>
                  <input type="text" name="otp" placeholder="" id="otpInput" required>
                  <p id="alertOtp" style="color: red;"></p>
                  <br><br>
                  <p id="timerDisplay" style="color: red;"></p>
                  <input type="button" class="btn mb-3" value="Submit OTP" id="submitBtnOtp">
                  <input type="button" class="btn mb-3" value="Resend OTP" id="resendBtn">
                </div>
              </div>
            </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!--End Body Content-->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>




<script>
  document.getElementById('showPassword').addEventListener('change', function() {
    var passwordInput = document.getElementById('CustomerPassword');
    if (this.checked) {
      passwordInput.type = 'text';
    } else {
      passwordInput.type = 'password';
    }
  });
</script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    let validationAlert = document.getElementById('validationDisplay');
    let registerForm = document.getElementById('CustomerLoginForm');
    let fNameInput = document.getElementById('FirstName');
    let nameAlert = document.getElementById('nameAlert');
    let inputPassword = document.getElementById('CustomerPassword');
    let alertPassword = document.getElementById('alertPassword');
    let emailInput = document.getElementById('CustomerEmail');
    let emailAlert = document.getElementById('emailAlert');
    let SubmitButton = document.getElementById('submitButton');
    let otpInput = document.getElementById('otpInput');
    let alertOtp = document.getElementById('alertOtp');
    let submitOtpBtn = document.getElementById('submitBtnOtp');

    console.log("before disabled out side event");
    SubmitButton.disabled = true;

    registerForm.addEventListener('submit', function(event) {
      if (!fNameInput.value || !emailInput.value || inputPassword.value) {
        return false
        validationAlert.innerText = 'All fields are required.';
      } else {

        validationAlert.innerText = '';
        SubmitButton.disabled = false;


      }
    });

    fNameInput.addEventListener('input', function() {
      let fname = fNameInput.value;
      fetch('/validate', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            firstname: fname
          }),
        })
        .then(res => res.json())
        .then(data => {
          if (data.fnameStatus) {
            nameAlert.innerText = data.fnameStatus;
          } else {
            nameAlert.innerText = ''; 
          }
        })
        .catch(error => {
          console.error('Error:', error);
        });
    });

    emailInput.addEventListener('input', function() {
      let email = emailInput.value;
      fetch('/validate', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(({
            email: email
          })),
        })
        .then(res => res.json())
        .then(data => {
          if (data.emailStatus) {
            emailAlert.innerText = data.emailStatus;
          } else {
            emailAlert.innerText = '';
          }
        })
        .catch(error => {
          console.log('EmailValidationError', error);
        });
    });

    inputPassword.addEventListener('input', function() {

      let Pfield = inputPassword.value;
      fetch('/validate', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            password: Pfield
          }),
        })
        .then(res => res.json())
        .then(data => {
          if (data.passwordStatus) {
            alertPassword.innerText = data.passwordStatus;
          } else {
            alertPassword.innerText = '';
          }
          enableSubmitBtn();
        })
        .catch(error => {
          console.error('Error:', error);
        });
    });

    otpInput.addEventListener('input', function() {

      let otpField = otpInput.value;
      fetch('/validate', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            OTP: otpField
          }),
        })
        .then(res => res.json())
        .then(data => {
          if (data.otpStatus) {
            alertOtp.innerText = data.otpStatus;
          } else {
            alertOtp.innerText = '';
          }
          enableOtpSubmitBtn();
        })
        .catch(error => {
          console.error('Error:', error);
        });

    })

    function enableSubmitBtn() {
      if (nameAlert.innerText === "" && emailAlert.innerText === "" && alertPassword.innerText === "") {
        SubmitButton.disabled = false;
      } else {
        SubmitButton.disabled = true;
      }
    }

    function enableOtpSubmitBtn() {
      if (alertOtp.innerText === "") {
        submitOtpBtn.disabled = false;
      } else {
        submitOtpBtn.disabled = true;
      }
    }

  });
</script>


<script>
  toastr.options = {
    "closeButton": false,
    "debug": false,
    "newestOnTop": true,
    "progressBar": false,
    "positionClass": "toast-top-right",
    "preventDuplicates": false,
    "onclick": null,
    "showDuration": "300",
    "hideDuration": "1000",
    "timeOut": "5000",
    "extendedTimeOut": "1000",
    "showEasing": "swing",
    "hideEasing": "linear",
    "showMethod": "fadeIn",
    "hideMethod": "fadeOut"
  };
  document.addEventListener('DOMContentLoaded', function() {
    let submitButton = document.getElementById('submitButton');
    let otpSection = document.getElementById('otpSection');
    let otpInput = document.getElementById('otpInput');
    let form = document.getElementById('CustomerLoginForm');
    let submitOtpBtn = document.getElementById('submitBtnOtp');
    let resendButton = document.getElementById('resendBtn');
    let CustomerEmail = document.getElementById('CustomerEmail');
    let CustomerPassword = document.getElementById('CustomerPassword');
    let FirstName = document.getElementById('FirstName');
    let LastName = document.getElementById('LastName');
    let timerDisplay = document.getElementById('timerDisplay');
    let loader = document.getElementById('loader');

    let otpExpirationTime = 60;
    let cuntdownTimer;
    submitOtpBtn.disabled = true;
    resendButton.disable = false;

    const urlParams = new URLSearchParams(window.location.search);
    const token = urlParams.get('token');

    submitButton.addEventListener('click', function(e) {
      e.preventDefault();
      loader.style.display = 'block';
      fetch('/generate-otp', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            email: document.getElementById('CustomerEmail').value,
          }),
        })
        .then(response => response.json())
        .then(data => {
          loader.style.display = 'none';
          if (data.success) {
            console.log(data, 'asdfghjkl');
            // OTP sent successfully, show OTP section
            otpSection.removeAttribute('hidden');
            // Optionally, hide unnecessary form fields
            document.getElementById('FirstName').setAttribute('readonly', false);
            document.getElementById('LastName').setAttribute('readonly', false);
            document.getElementById('CustomerEmail').setAttribute('readonly', false);
            document.getElementById('CustomerPassword').setAttribute('readonly', false);
            submitButton.disabled = true;
            submitOtpBtn.disabled = false;
            resendButton.disabled = true;

            toastr.success(data.message);

            startTimer();
          } else {
            toastr.info(data.message);
          }
        })
        .catch(error => {
          console.log('Error', error);
          loader.style.display = 'none';
        });
    });

    submitOtpBtn.addEventListener('click', function() {
      //resendButton.disable = true;
      let enteredOtp = otpInput.value;
      fetch(`/submitOtp?token=${encodeURIComponent(token)}`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            otp: enteredOtp,
            email: CustomerEmail.value,
            fname: FirstName.value,
            lname: LastName.value,
            password: CustomerPassword.value,
          }),
        })
        .then(response => response.json())
        .then(data => {
          if (data.success) {

            form.reset();
            FirstName.removeAttribute('readonly');
            LastName.removeAttribute('readonly');
            CustomerEmail.removeAttribute('readonly');
            CustomerPassword.removeAttribute('readonly');

            stopTimer();
            window.location.href = '/';
          } else {
            toastr.info(data.message);
          }
        })
        .catch(error => {
          console.log('Error', error);
        });
    });
    resendButton.addEventListener('click', function() {
      if (!resendButton.disabled) {
        submitOtpBtn.disabled = false;
        fetch('/resend-otp', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({
              email: document.getElementById('CustomerEmail').value,
            }),
          })
          .then(response => response.json())
          .then(data => {
            startTimer();
            toastr.info(data.message);
          })
          .catch(error => {
            console.log('Error', error);
          });
      }

    });

    function startTimer() {
      let seconds = otpExpirationTime;
      timerDisplay.innerText = `OTP will expire in ${seconds} seconds`;

      cuntdownTimer = setInterval(function() {
        seconds--;
        if (seconds <= 0) {
          clearInterval(cuntdownTimer);
          timerDisplay.innerText = 'OTP has expired';
          submitOtpBtn.disabled = true;
          resendButton.disabled = false;
        } else {
          timerDisplay.innerText = `OTP will expire in ${seconds} seconds`;
        }
      }, 1000);
    }

    function stopTimer() {
      clearInterval(cuntdownTimer);
      timerDisplay.innerText = '';
    }

  });
</script>

</div>

<%- include('../layouts/footer.ejs') -%>