<!-- footer start-->
<footer class="footer">
  <div class="row">
    <div class="col-md-12 footer-copyright text-center">
      <p class="mb-0">@ Belle Ecommerce</p>
    </div>
  </div>
</footer>
</div>
</div>
</div>
</div>
<!-- page-wrapper End-->

<!-- Modal Start -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <h5 class="modal-title" id="staticBackdropLabel">Logging Out</h5>
        <p>Are you sure you want to log out?</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

        <div class="button-box">
          <button type="button" class="btn btn--no" data-bs-dismiss="modal">No</button>
          <a href="/admin/logout" id="logoutLink">
            <button type="button" class="btn btn--yes btn-primary">Yes</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal End -->


<!-- latest js -->
<script src="/assets/js/jquery-3.6.0.min.js"></script>

<!-- Bootstrap js -->
<script src="/assets/js/bootstrap/bootstrap.bundle.min.js"></script>

<!-- feather icon js -->
<script src="/assets/js/icons/feather-icon/feather.min.js"></script>
<script src="/assets/js/icons/feather-icon/feather-icon.js"></script>

<!-- scrollbar simplebar js -->
<script src="/assets/js/scrollbar/simplebar.js"></script>
<script src="/assets/js/scrollbar/custom.js"></script>

<!-- Sidebar js -->
<script src="/assets/js/config.js"></script>

<!-- tooltip init js -->
<script src="/assets/js/tooltip-init.js"></script>

<!-- Plugins js -->
<script src="/assets/js/sidebar-menu.js"></script>
<script src="/assets/js/notify/bootstrap-notify.min.js"></script>
<script src="/assets/js/notify/index.js"></script>

<!-- Data table js -->
<script src="/assets/js/jquery.dataTables.js"></script>
<script src="/assets/js/custom-data-table.js"></script>

<!-- sidebar effect -->
<script src="/assets/js/sidebareffect.js"></script>

<!-- Apexchar js -->

<script src="/assets/js/chart/apex-chart/apex-chart1.js"></script>
<script src="/assets/js/chart/apex-chart/chart-custom1.js"></script>

<!-- customizer js -->
<script src="/assets/js/customizer.js"></script>

<!-- slick slider js -->
<script src="/assets/js/slick.min.js"></script>
<script src="/assets/js/custom-slick.js"></script>

<!-- customizer js -->
<script src="/assets/js/customizer.js"></script>

<!-- ratio js -->
<script src="/assets/js/ratio.js"></script>

<!-- Theme js -->
<script src="/assets/js/script.js"></script>

<script>
  $(document).ready(function() {
    $("#logoutLink").on("click", function(e) {
      e.preventDefault();

      $.ajax({
        type: "GET",
        url: "/admin/logout",
        success: function(response) {
          window.location.href = "/admin";
        },
        error: function(error) {
          console.error("Logout error:", error);
        }
      });
    });
  });
</script>
</body>

</html>