<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Fastkart admin is super flexible, powerful, clean &amp; modern responsive bootstrap 5 admin template with unlimited possibilities.">
  <meta name="keywords" content="admin template, Fastkart admin template, dashboard template, flat admin template, responsive admin template, web app">
  <meta name="author" content="pixelstrap">
  <link rel="icon" href="/assets/images/apple-touch-icon-114x114.png" type="image/x-icon">
  <link rel="shortcut icon" href="/assets/images/apple-touch-icon-114x114.png" type="image/x-icon">
  <title>Belle Admin</title>

  <!-- Google font-->
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Fontawesome css -->
  <link rel="stylesheet" type="text/css" href="/assets/css/vendors/font-awesome.css">

  <!-- Linear Icon css -->
  <link rel="stylesheet" href="/assets/css/linearicon.css">

  <!-- Themify icon css -->
  <link rel="stylesheet" type="text/css" href="/assets/css/vendors/themify.css">

  <!-- Feather icon css -->
  <link rel="stylesheet" type="text/css" href="/assets/css/vendors/feather-icon.css">

  <!-- remixicon css -->
  <link rel="stylesheet" type="text/css" href="/assets/css/remixicon.css">

  <!-- Data Table css -->
  <link rel="stylesheet" type="text/css" href="/assets/css/datatables.css">

  <!-- Plugins css -->
  <link rel="stylesheet" type="text/css" href="/assets/css/vendors/scrollbar.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/vendors/animate.css">

  <!-- Bootstrap css -->
  <link rel="stylesheet" type="text/css" href="/assets/css/vendors/bootstrap.css">

  <!-- vector map css -->
  <link rel="stylesheet" type="text/css" href="/assets/css/vector-map.css">

  <!-- Slick Slider Css -->
  <link rel="stylesheet" href="/assets/css/vendors/slick.css">

  <!-- App css -->
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>

<body>
  <!-- tap on top start-->
  <div class="tap-top">
    <span class="lnr lnr-chevron-up"></span>
  </div>
  <!-- tap on tap end-->

  <!-- page-wrapper Start-->
  <div class="page-wrapper compact-wrapper" id="pageWrapper">
    <!-- Page Header Start-->
    <div class="page-header">
      <div class="header-wrapper m-0">
        <div class="header-logo-wrapper p-0">
          <div class="logo-wrapper">
            <a href="/admin/dashboard">
              <img class="img-fluid main-logo" src="/assets/images/apple-touch-icon-114x114.png" alt="logo">

            </a>
          </div>
          <div class="toggle-sidebar">
            <i class="status_toggle middle sidebar-toggle" data-feather="align-center"></i>
            <a href="/admin/dashboard">
              <img src="/images/logo-text.svg" class="img-fluid" alt="">
            </a>
          </div>
        </div>
        <div class="nav-right col-6 pull-right right-header p-0">
          <ul class="nav-menus">
            <li>
              <span class="header-search">
                <i class="ri-search-line"></i>
              </span>
            </li>
            <li>
              <div class="mode">
                <i class="ri-moon-line"></i>
              </div>
            </li>
            <li class="profile-nav onhover-dropdown pe-0 me-0">
              <div class="media profile-media">
                <img class="user-profile rounded-circle" src="/assets/images/users/4.jpg" alt="">
                <div class="user-name-hide media-body">
                  <span>ArunGhosh</span>
                  <p class="mb-0 font-roboto">Admin<i class="middle ri-arrow-down-s-line"></i></p>
                </div>
              </div>
              <ul class="profile-dropdown onhover-show-div">
                <li>
                  <a href="/admin/listUser">
                    <i data-feather="users"></i>
                    <span>Users</span>
                  </a>
                </li>
                <li>
                  <a href="/admin/orderList">
                    <i data-feather="archive"></i>
                    <span>Orders</span>
                  </a>
                </li>


                <li>
                  <a data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="javascript:void(0)">
                    <i data-feather="log-out"></i>
                    <span>Log out</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Page Header Ends-->

    <!-- Page Body Start-->
    <div class="page-body-wrapper">
      <!-- Page Sidebar Start-->
      <div class="sidebar-wrapper">
        <div id="sidebarEffect"></div>
        <div>
          <div class="logo-wrapper logo-wrapper-center">
            <a href="/admin/dashboard" data-bs-original-title="" title="">
              <img class="img-fluid for-white" src="/assets/images/logo.svg" alt="logo">
            </a>
            <div class="back-btn">
              <i class="fa fa-angle-left"></i>
            </div>
            <div class="toggle-sidebar">
              <i class="ri-apps-line status_toggle middle sidebar-toggle"></i>
            </div>
          </div>
          <div class="logo-icon-wrapper">
            <a href="/admin/dashboard">
              <img class="img-fluid main-logo main-white" src="/assets/images/logo/1-white.png" alt="logo">
              <img class="img-fluid main-logo main-dark" src="/assets/images/logo/logo-white.png" alt="logo">
            </a>
          </div>
          <nav class="sidebar-main">
            <div class="left-arrow" id="left-arrow">
              <i data-feather="arrow-left"></i>
            </div>

            <div id="sidebar-menu">
              <ul class="sidebar-links" id="simple-bar">
                <li class="back-btn"></li>

                <li class="sidebar-list">
                  <a class="sidebar-link sidebar-title link-nav" href="/admin/dashboard">
                    <i class="ri-home-line"></i>
                    <span>Dashboard</span>
                  </a>
                </li>

                <li class="sidebar-list">
                  <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                    <i class="ri-store-3-line"></i>
                    <span>Product</span>
                  </a>
                  <ul class="sidebar-submenu">
                    <li>
                      <a href="/admin/product/listProduct">Products</a>
                    </li>

                    <li>
                      <a href="/admin/product/addProduct">Add New Products</a>
                    </li>
                  </ul>
                </li>

                <li class="sidebar-list">
                  <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                    <i class="ri-list-check-2"></i>
                    <span>Category</span>
                  </a>
                  <ul class="sidebar-submenu">
                    <li>
                      <a href="/admin/category/listCategory">Category List</a>
                    </li>

                    <li>
                      <a href="/admin/category/addCategory">Add New Category</a>
                    </li>
                  </ul>
                </li>

                <li class="sidebar-list">
                  <a class="sidebar-link sidebar-title link-nav" href="/admin/listUser">
                    <i class="ri-user-3-line"></i>
                    <span>Users</span>
                  </a>
                </li>


                <li class="sidebar-list">
                  <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                    <i class="ri-archive-line"></i>
                    <span>Orders</span>
                  </a>
                  <ul class="sidebar-submenu">
                    <li>
                      <a href="/admin/orderList">Order List</a>
                    </li>
                  </ul>
                </li>

                <li class="sidebar-list">
                  <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                    <i class="ri-price-tag-3-line"></i>
                    <span>Coupons</span>
                  </a>
                  <ul class="sidebar-submenu">
                    <li>
                      <a href="/admin/couponList">Coupon List</a>
                    </li>

                    <li>
                      <a href="/admin/createCoupon">Create Coupon</a>
                    </li>
                  </ul>
                </li>
                <li class="sidebar-list">
                  <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                    <i class="ri-price-tag-3-line"></i>
                    <span>Offers</span>
                  </a>
                  <ul class="sidebar-submenu">
                    <li>
                      <a href="/admin/offerList">Offer List</a>
                    </li>

                    <li>
                      <a href="/admin/createOffer">Create Offer</a>
                    </li>
                  </ul>
                </li>

                <!-- <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title link-nav" href="taxes.html">
                                        <i class="ri-price-tag-3-line"></i>
                                        <span>Tax</span>
                                    </a>
                                </li> -->

                <!-- <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title link-nav" href="product-review.html">
                                        <i class="ri-star-line"></i>
                                        <span>Product Review</span>
                                    </a>
                                </li> -->

                <!-- <li class="sidebar-list">
                                    <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                                        <i class="ri-settings-line"></i>
                                        <span>Settings</span>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li>
                                            <a href="#">Profile Setting</a>
                                        </li>
                                    </ul>
                                </li> -->

                <li class="sidebar-list">
                  <a class="sidebar-link sidebar-title link-nav" href="/admin/salesReport">
                    <i class="ri-file-chart-line"></i>
                    <span>Sales Reports</span>
                  </a>
                </li>

                <!-- <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title link-nav" href="#">
                                        <i class="ri-list-check"></i>
                                        <span>List Page</span>
                                    </a>
                                </li> -->
              </ul>
            </div>

            <div class="right-arrow" id="right-arrow">
              <i data-feather="arrow-right"></i>
            </div>
          </nav>
        </div>
      </div>
      <!-- Page Sidebar Ends-->